/*----------------- NavBar ----------------*/
.home-navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  min-height: 90px;
  background-color: var(--secondary-color);
}

.logo-container a {
  text-decoration: none; 
  color: inherit; 
}

.logo-container p {
  color: var(--dark-color); 
  font-size: 4rem;
  font-weight: 600;
  margin-right: 5rem;
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-menu-container {
  display: none;
}

.navbar-primary-button {
  padding: 0.9rem 1.75rem;
  background-color: var(--dark-color);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  text-decoration: none;
}

.navbar-links-container-links {
  margin-right: 3rem;
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 600;
}

.navbar-primary-button:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar-links-container-links {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .navbar-primary-button {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .logo-container {
    font-size: 3rem;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
}

/*----------------- Subnavbar ----------------*/
.subnav-container {
  display: flex;
  justify-content: flex-end; 
  padding: 10px 10%; 
  background-color: #f1f1f1; 
  margin-bottom: 10px;
}

.subnav-link {
  margin-left: 20px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.1rem; 
  font-weight: 600; 
  transition: color 0.3s ease;
}


.subnav-link:hover {
  color: #74512D; 
}


/*----------------- Footer ----------------*/
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 3% 7% 5% 10%;
  background-color: var(--secondary-color);
}

.footer-section-one {
  max-width: 40%;
}

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0;
  font-weight: 600;
  color: var(--dark-color);
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-section-columns span:hover {
  color: var(--primary-color);
}

.footer-logo-text {
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.6;
}

@media (max-width: 800px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 5% 10%;
  }
  .footer-section-one {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .footer-section-two {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-section-columns {
    margin: 1rem 0;
    width: 100%;
  }
}
